<nav>
  <a href="/">Component Index</a>
  
  {% unless isIndex %}
    {% if isReactDemo %}
      | <a href="/elements/{{ componentName }}/react">React - {{ componentName }} Index</a>
    {% else %}
      | <a href="/elements/{{ componentName }}/demo">Lit - {{ componentName }} Index</a>  
    {% endif %}
  {% endunless %}
  {% if isReactDemo and webComponentDemoUrl %}
    | <a href="{{ webComponentDemoUrl }}">Lit {% if isIndex %}Demos{% else %}demo{% endif %}</a>
  {% elsif hasReactDemo and reactDemoUrl %}
    | <a href="{{ reactDemoUrl }}">React {% if isIndex %}Demos{% else %}demo{% endif %}</a>
  {% endif %}
</nav>
