<nav>
  <a href="/">Component Index</a>
  
  {% unless isIndex %}
    {% if isReactDemo %}
      | <a href="{{ componentName | demoIndexUrl: true }}">React - {{ componentName | titleCase }} Index</a>
    {% else %}
      | <a href="{{ componentName | demoIndexUrl: false }}">Lit - {{ componentName | titleCase }} Index</a>  
    {% endif %}
  {% endunless %}
  
  {% if isReactDemo %}
    {% if webComponentDemoExists %}
      | <a href="{{ componentName | demoUrl: demoName, false }}">Lit {% if isIndex %}Demos{% else %}demo{% endif %}</a>
    {% elsif not isIndex %}
      | <a href="{{ componentName | demoIndexUrl: false }}">Lit Demos</a>
    {% endif %}
  {% elsif hasReactDemos %}
    {% if reactDemoExists %}
      | <a href="{{ componentName | demoUrl: demoName, true }}">React {% if isIndex %}Demos{% else %}demo{% endif %}</a>
    {% elsif not isIndex %}
      | <a href="{{ componentName | demoIndexUrl: true }}">React Demos</a>
    {% endif %}
  {% endif %}
</nav>
